.search-form-wrapper {
  display: flex;
  align-items: center;
}

.search-input-wrapper {
  flex: 1;
  margin-right: 20px; /* Изменено на 20px */
}

.search-button {
  margin-left: 10px; /* Изменено на 10px */
}