<div class="search-form-wrapper">
  <div class="search-input-wrapper">
    <input type="search" id="edit-search" name="q" placeholder="{{ 'Введите полное имя для поиска'|t }}" value="{{ query }}" />
    <button type="submit" class="search-button">{{ 'Найти'|t }}</button>
  </div>
</div>
